@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --color-app-bg: #020617;
  --color-app-surface: #0f172a;
  --color-app-surface-soft: #1e293b;
  --color-app-border: #334155;

  --color-app-text: #f8fafc;
  --color-app-muted: #94a3b8;

  --color-app-primary: #10b981;
  --color-app-primary-hover: #059669;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--color-app-bg);
  color: var(--color-app-text);
  font-family: "Inter", system-ui, sans-serif;
}
